/* MENU OVERLAY */
.overlay-container {
  display: flex;
  flex-direction: column;
  background-color: #b05045;
  color: #fef9ef;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  z-index: 1;
  display: none;
}

.overlay-open .overlay-container {
  display: flex;
}
.menu-overlay-icon {
  font-size: 3.4rem;
  align-self: flex-end;
  cursor: pointer;
}

.menu-overlay-container {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
  margin-left: 3rem;
  list-style: none;
}

.menu-overlay {
  padding: 1.6rem 0;
  border-bottom: 0.25px solid rgb(254, 249, 239, 0.4);
  cursor: pointer;
}

.menu-overlay a {
  color: #fef9ef;
  font-size: 2.2rem;
}

.menu-overlay-chevron {
  display: flex;
  justify-content: space-between;
}

.chevron {
  font-size: 2.6rem;
}

/* PROMO-BANNER */
.promo-banner {
  background-image: url("../img/promo-banner.png");
  font-size: 3.6rem;
  color: #fef9ef;
  padding: 0.8rem 0;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  width: 95%;
  margin-left: 40px;
}

.logo {
  height: 100px;
}

.nav-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-family: "../fonts/GothamCondensedBold.otf", "Gotham Con Bold", sans-serif;
  font-size: 2.8rem;
  gap: 70px;
}

.menu-btn {
  gap: 10px;
  display: none;
}

.menu-icon {
  color: #b05045;
  font-weight: bold;
}

.close-icon {
  color: #fef9ef;
  display: none;
}

.delivery-choice {
  border: none;
  background: none;
  font-size: 1.6rem;
  font-family: "../fonts/GothamBook.otf", "Gotham Book", sans-serif;
  color: #b07445;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
  width: 200px;
  align-self: flex-end;
  margin: 0.4rem 1.6rem 0.8rem;
  cursor: pointer;
}

.del {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b07445;
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
}

.flag {
  width: 32px;
}

.del-chev {
  font-size: 2.4rem;
}

.dropdown {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* PROMO-HEADER */
.promo-header {
  background-color: #27483e;
  display: flex;
  justify-content: space-between;
}

.promo-header-info {
  padding: 1.6rem 3.6rem;
  position: relative;
}

.nutbutter-img {
  height: 80%;
  position: absolute;
  right: -20%;
  bottom: 0%;
}

.promo-header-info .btn {
  background-color: #fef9ef;
  border: none;
  font-family: "../fonts/GothamCondensedMedium.otf", "Gotham Condensed",
    sans-serif;
  font-size: 2.6rem;
  color: #27483e;
  padding: 0.8rem 4.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.promo-p {
  color: #fef9ef;
  font-size: 3.6rem;
  line-height: 1;
  font-family: "../fonts/GothamCondensedMedium.otf", "Gotham Condensed",
    sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* SECTION - HERO  */
.hero-container {
  height: 600px;
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  gap: 15px;
}

.img-container {
  max-height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
}

.hero-link {
  font-size: 4.2rem;
  font-family: "../fonts/GothamCondensedMedium.otf", "Gotham Condensed",
    sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one {
  background-image: url(../img/hero-shop.jpg);
  transition: 3s;
}

.one:hover {
  visibility: visible;
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.3),
      rgba(10, 10, 10, 0.3)
    ),
    url(../img/hero-shop.jpg);
}

.two {
  grid-row: 2 span;
  background-image: url(../img/hero-about.png);
  transition: 3s;
}

.two:hover {
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.3),
      rgba(10, 10, 10, 0.3)
    ),
    url(../img/hero-about.png);
}

.three {
  background-image: url(../img/hero-app.png);
  transition: 3s;
}

.three:hover {
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.3),
      rgba(10, 10, 10, 0.3)
    ),
    url(../img/hero-app.png);
}

.four {
  background-image: url(../img/hero-cookbooks.jpg);
  transition: 3s;
}

.four:hover {
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.3),
      rgba(10, 10, 10, 0.3)
    ),
    url(../img/hero-cookbooks.jpg);
}

.five {
  background-image: url(../img/hero-plants.jpg);
  transition: 3s;
}

.five:hover {
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.3),
      rgba(10, 10, 10, 0.3)
    ),
    url(../img/hero-plants.jpg);
}

.img-container:hover :not(img) {
  display: block;
}

/* SECTION - SHOP  */
.container-lrg-flex--shop-mrg {
  margin: 2rem 14rem;
}

.shop-ind {
  color: #b05045;
  font-size: 3.2rem;
  font-family: "../fonts/GothamCondensedBold.otf", "Gotham Con Bold", sans-serif;
  background-color: #fef9ef;
  cursor: pointer;
}

.btn-center-shop {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION - RECIPES  */
.container-lrg-flex--recipes-mrg {
  margin: 2rem 8rem;
}

.btn-center-recipes {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION - APP */
#btn-section--app {
  padding: 1.6rem 9rem;
}

.app-store-links {
  display: flex;
  justify-content: center;
  padding: 2rem 10rem;
  gap: 2rem;
}

.app-img-logo {
  max-width: 100%;
  max-height: 100%;
}

.app-info-pad {
  padding: 0 7.5rem;
}

/* SECTION - COOKBOOKS */
.cookbooks {
  position: relative;
}

.cookbooks-img {
  height: 100%;
  width: 100%;
}

.cookbooks-info {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  background-color: #fef9ef;
  text-align: center;
  padding: 5rem 1rem;
}

.cookbooks-info--p {
  width: 80%;
  margin: 0 auto;
}
/* SECTION - PODCAST */
.podcast-info-pad {
  padding: 0 3rem;
}

/* SECTION - RESTAURANT */
.restaurant-info-pad {
  padding: 0 6rem;
}

/* SECTION - ABOUT US */
.about-info-pad {
  padding: 0 8rem;
}

/* SECTION - SML CONTAINER  */
.info-pad {
  padding-bottom: 3.2rem;
}

/* SECTION - CTA */
.cta {
  margin-bottom: 2.4rem;
  height: 250px;
}

.cta,
input,
select,
.cta-btn {
  background-color: #b05045;
  border: none;
}

#h2-cta {
  font-size: 6.4rem;
  color: #fef9ef;
  padding-top: 5rem;
}

form {
  padding-top: 2.6rem;
  margin: 0 auto;
  width: 80%;
}

#first-name {
  width: 15%;
}

#email {
  width: 30%;
}

#country {
  width: 35%;
}

input,
select,
.cta-btn {
  font-size: 3.2rem;
  font-family: "../fonts/GothamCondensedMedium.otf", "Gotham Condensed",
    sans-serif;
  font-weight: 400;
  color: #fef9ef;
}

input,
select {
  width: 20rem;
  border-bottom: 3px solid #fef9ef;
  margin: 0 1rem;
}

::placeholder,
select {
  color: #d8a8a2;
  font-size: 3.2rem;
}

.cta-btn {
  font-size: 3.6rem;
}

/* FOOTER */
footer {
  color: #b05045;
  width: 700px;
  margin: auto;
  text-align: center;
}

.social-media-links {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 2.4rem 0;
  border-bottom: 1.5px solid #b05045;
}

.social-media-link:link,
.social-media-link:visited {
  color: #b05045;
}

.footer-links {
  font-size: 2.2rem;
  display: flex;
  justify-content: space-between;
  padding: 6.6rem 0;
  font-family: "../fonts/GothamCondensedBold.otf", "Gotham Con Bold", sans-serif;
}

.footer-link:link,
.footer-link:visited {
  color: #b05045;
}

.footer-info {
  font-size: 0.2rem;
  font-family: "../fonts/GothamCondensedBold.otf", "Gotham Con Bold", sans-serif;
  margin-bottom: 12.8rem;
}

.footer-info-font {
  font-family: "../fonts/GothamCondensedLight.otf", "Gotham Con Light",
    sans-serif;
  padding-bottom: 2.4rem;
}

.a-footer {
  text-decoration: underline;
}
